.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  button[type=submit]{
    background-color:forestgreen;
    color:white;
    border:none;
    padding: 6px 20px;
    font-size:110%;
    border-radius:10px;
    font-family: Rockwell, georgia, serif;
}

button[type=reset]{
    background-color:red;
    color:white;
    border:none;
    padding: 6px 20px;
    font-size:110%;
    border-radius:10px;
    font-family: Rockwell, georgia, serif;
}


.actionBtn {
    font-size: 4em;
    cursor: pointer;
  }
  
 
  
  ul.links {
    padding-bottom: 20px;
  }
  
  h1{
    background-color: rgb(176, 186, 224);
    color: white;
    text-align: center;
    padding:6px;
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }